@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  left: 0;
  top: 43px;
}

li {
  position: relative;
  transition: 0.3s;
}

li::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 0%;
  background-color: white;
  left: 0;
  top: 43px;
  transition: 0.3s;
}

li:hover:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  left: 0;
  top: 43px;
}

.event-block {
  width: 90%;
}

button {
  transition: 0.3s;
}

#reg-pop {
  z-index: 5;
}

#event-pop {
  z-index: 5;
}

#close-pop {
  content: '×';
  position: absolute;
  top: 6%;
  right: 8%;
  scale: 2;
  cursor: pointer;
}

#close-event-pop {
  content: '×';
  position: absolute;
  top: 6%;
  right: 8%;
  scale: 2;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#error-one, #error-two, #error-three {
  font-size: 14px;
  color: red;
}

#event-error-one, #event-error-two{
  font-size: 14px;
  color: red;
}

#mrg {
  margin: 2rem 0 !important;
}

select {
  border: 1px solid black !important;
  border-radius: 7px;
}